@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219 220;
  --background-end-rgb: 255, 255, 255;
}
html {
  font-size: 62.5%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #555;
}
header {
  border-bottom: 1px solid rgb(238, 238, 238);
}
.logo {
  @apply flex text-3xl font-bold;
  font-weight: 700;
}

.navlinks {
  font-weight: 600;
}

/* REUSABLE CUSTOM CLASSES */
.container {
  @apply max-w-[120rem] mx-auto;
  padding: 0 3.2rem;
}
.subheading {
  @apply block text-[1.6rem] font-[500] uppercase mb-[1.6rem];
  letter-spacing: 0.75px;
}
.heading-primary {
  @apply font-bold text-5xl mb-12 leading-[1.2];
  font-size: 5.2rem;
}
.heading-secondary {
  @apply text-[3rem] font-[600] mb-[5rem] leading-tight;
  color: #444;
}
.heading-tertiary {
  @apply font-bold mb-[1.5rem] text-[1.9rem];
}
