@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219 220;
  --background-end-rgb: 255, 255, 255;
  --swiper-theme-color: #15803d;
}
* {
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #555;
}
body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: #eee; /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: #15803d; /* color of the scroll thumb */
  border-bottom-left-radius: 20px; /* roundness of the scroll thumb */
  /* border: 3px solid orange;  creates padding around scroll thumb */
}
header {
  border-bottom: 1px solid rgb(238, 238, 238);
}
.logo {
  @apply flex text-3xl font-bold;
  font-weight: 700;
}

.navlinks {
  font-weight: 600;
}

/* REUSABLE CUSTOM CLASSES */
.container {
  @apply max-w-[120rem] mx-auto;
  padding: 0 3.2rem;
}
.subheading {
  @apply block text-[1.6rem] font-[500] uppercase mb-[1.6rem];
  letter-spacing: 0.75px;
}
.heading-primary {
  @apply font-bold text-5xl leading-[1.2] text-[4rem] text-center lg:text-left text-[5.2rem];
}
.heading-secondary {
  @apply text-[3rem] font-[600] mb-[5rem] leading-tight;
  color: #444;
}
.heading-tertiary {
  @apply font-bold mb-[2.3rem] text-[1.9rem] tracking-wide;
}
.gridding {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 9.6rem;
  background-image: linear-gradient(to bottom right, #166534, #15803d);
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin-top: 3rem;
}
.section-pad {
  padding: 9.6rem 0;
}
.hitusup {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.footer-border {
  border-top: 1px solid #eee;
  border-bottom: 10px solid #15803d;
}
.input {
  border: 1px solid #b0afae;
  font-family: inherit;
  width: 70%;
  padding: 1.3rem;
  margin-bottom: 2rem;
  border-radius: 5px;
}
